.info-buttom{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.info-buttom p{
    font-size: 20px;
    font-weight: 500;
}

.info-buttom  i{
    margin-left: 15px;  
}

@media(max-width: 1050px){
  .info-buttom{
    flex-direction: column;
    gap: 10px;
  }
  .info-buttom button{
    width: 150px;
    font-size: 15px;
  }

  .info-buttom p{
    font-size: 15px;
  }
}