.purple-btn{
    background-color: #523be4;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 20px 35px;
    text-align: center;
    border: none;
    border-radius: 48px;
    /* border: 2px solid red; */
  }

.purple-btn:hover{
    background-color: #654efa;
    cursor: pointer;
}


@media(max-width: 1024px){
  .purple-btn{
    font-size: 15px;
    padding: 17px 28px;
    width: 135px;
  }

}

@media(max-width: 510px){
  .purple-btn{
    font-size: 14px;
    padding: 15px 24px;
    width: 125px;
  }
}