.main-nav{
    padding: 10px 20px 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid black;
}



.nav-links-container{
    display: flex;
    align-items: center;
    gap: 30px;
    /* border: 2px solid red; */
    width: 60%;
    height: 100px;
}

.nav-links-sub-con{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    /* border: 2px solid green; */
    height: 100px;
}

.mobile-menu{
    display: none;
}



@media(max-width: 1100px){
    .nav-links-container{
        width: 75%;
    }
}

@media(max-width: 1024px){
    .nav-links-sub-con{
        display: none;
    }
    .nav-links-container{
        width: 30%;
    }

    .mobile-menu{
        display: inline-block;
        font-size: 30px;
    }

}

@media(max-width: 730px){
    .nav-links-container{
        width: 30%;
    }
}

@media(max-width: 610px){
    .nav-links-container{
        width: 35%;
    }
    .lyft-logo{
        font-size: 20px;
    }
}
@media(max-width: 510px){
    .nav-links-container{
        width: 50%;
    }
}
@media(max-width: 389px){
    .nav-links-container{
        width: 60%;
    }
}