.nav-links{
    border-left:1px solid #000 ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    font-size: 20px;
    font-weight: 700;
    /* border: 2px solid green; */
}

.nav-links a{
    color: #000;
    text-decoration: none;
}

.nav-links a:hover{
    color: #523be4;
}