.driver {


   .second-section {
      .image-container {
         img {
            width: 78%; 
            height: 260px;
         }
      }

      @media screen and (max-width: 1024px) {
         
         .section-info {
            h2 {
               text-align: start;
            }
         }
         .image-container {
            width: 50%;
            img {
               width: 100%;
            }
         }

      }

      @media screen and (max-width: 768px) {
         .image-container {
            width: 100%;
            img {
               width: 100%;
               height: unset;
            }
         }
      }
   }

   .third-section {
      .section-container {
         gap: 100px;

         .phone-image {
            padding: 0px 80px;
            height: 600px
         }
      }
   }

   .fourth-section {
      .image-container {
         img {
            width: 93%;
         }
      }
   }

   .last-section {
      background-color: #d1ffee;
   }


   @media screen and (max-width: 1024px) {
      .first-section {
         input[type="phone"] {
            width: 320px;
         }
      }
   }
}