.earnings {


   .second-section {
      background-color: #fff;

      .section-info {
         width: calc(100% / 3.3);
         // margin-right: 48px;
      }
   }

   .head-section {
      background-color: #F4F4FA;
   }

   .question {
      font-size: 48px;
   }

   .section-desc {
      background-color: #fff;

      .earning-info {
         width: 450px;
      }

      .gif-image-1 {
         width: 50%;

         img {
            width: 504px;
            height: 335px;
         }
      }

      .understand-pay {
         width: 76%;
      }
   }

   .last-section {
      background-color: #fff;
   }
}