header {
   border-bottom: 1px solid #D8D8DE;
   height: 80px;

   .header-container {
      width: 1200px;
      
      .main-nav{
         width: 65%;

         .links-container{
            gap: 30px;

            .nav-links{
               // color: #000;
               text-decoration: none;
               white-space: nowrap;
               font-weight: 700;

               &:hover{
                  color: #523be4;
               }
            }

            .sub-links-container {
               gap: 35px;
               
               .sub-links {
                  height: 100%;
                  display: flex;
                  align-items: center;

                  &.active-sub-link {
                     border-bottom: 2px solid #523be4;
                  }
               }

               a {
                  text-decoration: none;
               }

               &.link-width {
                  width: 560px;
               }

               &.business-width {
                  width: 500px;
               }
            }
      
            // .sub-links {
               
            // }
           
            
         }
         

      }
   

      
      
      @media(max-width: 1100px){
          .nav-links-container{
              width: 75%;
          }
      }
      
      @media(max-width: 1024px){
          .nav-links-sub-con{
              display: none;
          }
          .nav-links-container{
              width: 30%;
          }
      
          .mobile-menu{
              display: inline-block;
              font-size: 30px;
          }
      
      }
      
      @media(max-width: 730px){
          .nav-links-container{
              width: 30%;
          }
      }
      
      @media(max-width: 610px){
          .nav-links-container{
              width: 35%;
          }
          .lyft-logo{
              font-size: 20px;
          }
      }
      @media(max-width: 510px){
          .nav-links-container{
              width: 50%;
          }
      }
      @media(max-width: 389px){
          .nav-links-container{
              width: 60%;
          }
      }
   }
   
}

