.head-two{
   font-size: 46px;
   font-weight: 500;
   word-wrap: break-word;
}


@media(max-width: 1270px){
   .head-two{
       font-size: 30px;
   }
}


.lyft-logo{
   color: #ff00bf;
}

.lyft-logo:hover{
   color: #000;
}

@media(max-width: 610px){
   .lyft-logo{
       font-size: 60px;
   }
}




.mobile-nav-container{
   position: absolute;
   top: 0;
   left: 0;
   background-color: white;
   height: 100%;
   width: 100%;
   border: 2px solid red;
   padding: 5px 10px;
}

.mobile-nav-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid blue; */
}

.btn-log-and-x{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    /* border: 2px solid green; */
}

.the-x-btn{
    font-size: 50px;
}


/*  */

section {
   padding: 64px 80px;

   .section-container {
      width: 1200px;
      padding: 0px 50px;
   }

   .hero {
      width: 40%;

      h1{
         font-size: 80px;
      }
   }

   h2 {
      font-size: 36px;
   }

   .subject-terms{
      font-size: 14px;
   }  

   .info-text  {
      font-size: 12px;
   }
   
   &.first-section {
      .first-section-container {
         width: 1200px;
      }

      .first-section-img {
         width: 60%;
   
         img {
            height: 400px;
         }
      }
   }

   &.second-section {
      background-color: #f4f4fa;
      position: relative;
   
      .section-info {
         width: 45%;
      }

      .rider-image-container {
         width: 57%;

         img {
            width: 85%;
         }
      }

      .image-container{
         width: 47%;
      
         img{
            height: 450px;
         }
      }
   }

   &.third-section {
      background-color: #fff;
      position: relative;
   
      .section-info {
         width: 45%;
      }

      .image-container{
         width: 47%;
      
         img{
            width: 80%;
         }
      }   
   }
   
   &.fourth-section {
      background-color: #F4F4FA;
      position: relative;
         
      .section-info {
         width: 45%;
         
      }

      .image-container{
         width: 47%;
      
         img{
            width: 80%;
         }
      }
   }

   &.fifth-section {
      background-color: #fff;
      position: relative;
   
      .section-info {
         width: 45%;
      }

      .image-container{
         width: 47%;
      
         img{
            width: 80%;
         }
      }     
   }

   &.sixth-section {
      background-color: #fff;
      position: relative;
   
      .section-info {
         width: 45%;
      }

      .image-container{
         width: 47%;
      
         img{
            width: 80%;
         }
      }     
   }
   
   &.last-section {
      background-color: #F4F4FA;
      box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.089);
      position: relative;

      img.lyft-business {
         height: 26px;
         width: 150px;
      }

      .section-info {
         width: 45%;
      }

      .image-container{
         width: 47%;
      
         img{
            width: 80%;
         }
      }  
   
      p {
         max-width: 750px;
      }   
   }
}
   

footer {
   padding: 40px 0px;
   padding-bottom: 50px;
   background: #FFF;

   .footer-container {
      width: 1200px;

      ul {
         width: calc(100% / 4);
         color: #0C0B31;
      }

      .socials-and-terms {
         font-size: 12px;
      }      
   }

}
