.head-two{
   font-size: 46px;
   font-weight: 500;
   word-wrap: break-word;
}


@media(max-width: 1270px){
   .head-two{
       font-size: 30px;
   }
}


.lyft-logo{
   color: #ff00bf;
}

.lyft-logo:hover{
   color: #000;
}

@media(max-width: 610px){
   .lyft-logo{
       font-size: 60px;
   }
}




.mobile-nav-container{
   position: absolute;
   top: 0;
   left: 0;
   background-color: white;
   height: 100%;
   width: 100%;
   border: 2px solid red;
   padding: 5px 10px;
}

.mobile-nav-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid blue; */
}

.btn-log-and-x{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    /* border: 2px solid green; */
}

.the-x-btn{
    font-size: 50px;
}


/*  */
.first-section {
   padding: 64px 80px;

   .first-section-img {
      width: 55%;

      img {
         height: 400px;

      }
   }

   .hero {
      width: 40%;

      h1{
         font-size: 80px;
      }
   }
}

/*  */

.second-section {
   background-color: #f4f4fa;
   padding: 64px 80px;
   position: relative;

   .info-container {
      padding: 0px 100px;
      
      .section-info {
         width: 45%;
   
         h2 {
            font-size: 36px;
         }
   
         
      }
      .image-container{
         width: 47%;
      
         img{
            width: 80%;
            height: 450px;
         }
      }
   }
}
   
   
/*  */
   
.third-section {
   background-color: #fff;
   padding: 64px 80px;
   position: relative;

   .info-container {
      padding: 0px 100px;
      
      .section-info {
         width: 45%;
   
         h2 {
            font-size: 36px;
         }
         
      }
      .image-container{
         width: 47%;
      
         img{
            width: 80%;
            // height: 450px;
         }
      }

      .subject-terms{
         font-size: 14px;
      }
   }
}


/*  */

.fourth-section {
   background-color: #F4F4FA;
   padding: 64px 80px;
   position: relative;

   .info-container {
      padding: 0px 100px;
      
      .section-info {
         width: 45%;
   
         h2 {
            font-size: 36px;
         }
         
      }
      .image-container{
         width: 47%;
      
         img{
            width: 80%;
            // height: 450px;
         }
      }

      .subject-terms{
         font-size: 14px;
      }
   }
}


/*  */

.fifth-section {
   background-color: #fff;
   padding: 64px 80px;
   position: relative;

   .info-container {
      padding: 0px 100px;
      
      .section-info {
         width: 45%;
   
         h2 {
            font-size: 36px;
         }
         
      }
      .image-container{
         width: 47%;
      
         img{
            width: 80%;
            // height: 450px;
         }
      }
   }
}

.sixth-section {
   background-color: #F4F4FA;
   padding: 64px 80px;
   box-shadow: 0px 10px 30px 20px rgba(0, 0, 0, 0.089);
   position: relative;

   .info-container {
      padding: 0px 100px;

      img {
         height: 26px;
         width: 150px;
      }
      
      h2 {
         font-size: 36px;
      }

      p {
         max-width: 750px;
      }
   }
}

footer {
   padding: 40px 0px;
   padding-bottom: 50px;
   background: #FFF;
   

   .footer-container {
      padding: 0px 100px;

      ul {
         width: calc(100% / 4);
         color: #0C0B31;
      }

      .socials-and-terms {
         font-size: 12px;
      }      
   }

}
