.mobile-nav-container{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 100%;
    border: 2px solid red;
    padding: 5px 10px;
}

.mobile-nav-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid blue; */
}

.btn-log-and-x{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    /* border: 2px solid green; */
}

.the-x-btn{
    font-size: 50px;
}
