// colors
$white: #FFFFFF;
$grey: #808080;
$blue: #00A2C9;
$black: #121212;


// Customizing Bootstrap Variable


// input variables
// $input-bg:                              $white;
// $input-color:                           $black;
// $input-border-width:                    0;
// $input-border-radius:                   0;
// $input-focus-box-shadow:                none;
// $input-placeholder-color:               #BFBBBB;
// $input-padding-y:                       0;
// $input-padding-x:                       0;

// 
// $modal-dialog-margin:               0;
// $modal-content-border-color:        none;
// $modal-content-border-width:        none;
// $modal-content-border-radius:       10px;
// $modal-content-inner-border-radius: none;
// $modal-header-padding-y:            none;
// $modal-header-padding-x:            none;

// // 
// $accordion-padding-y:                     1rem;
// $accordion-padding-x:                     1.25rem;
// $accordion-border-width:                  none;
// $accordion-border-radius:                 unset;
// $accordion-body-padding-y:                none;
// $accordion-body-padding-x:                none;
// $accordion-button-padding-y:              none;
// $accordion-button-padding-x:              none;
// $accordion-button-active-bg:              none;
// $accordion-button-active-color:           none;
// $accordion-button-focus-border-color:     none;
// $accordion-button-focus-box-shadow:       none;

// navbar dropdown variables
// $dropdown-min-width:                200px;
// $dropdown-padding-x:                0;
// $dropdown-padding-y:                .5rem;
// $dropdown-spacer:                   .125rem;
// $dropdown-font-size:                $font-size-base;
// $dropdown-color:                    var(--#{$prefix}body-color);
// $dropdown-bg:                       var(--#{$prefix}body-bg);
// $dropdown-border-color:             none;
// $dropdown-border-radius:            8px;
// $dropdown-border-width:             0;
// $dropdown-inner-border-radius:      calc(#{$dropdown-border-radius} - #{$dropdown-border-width});
// $dropdown-divider-bg:               $dropdown-border-color;
// $dropdown-divider-margin-y:         $spacer * .5;
// $dropdown-box-shadow:               none;
// // $dropdown-padding-y:                .5rem;
// // $dropdown-bg:                      none;
// $dropdown-border-radius:           none;
// $dropdown-item-padding-y:           none;
// $dropdown-item-padding-x:           none;
// // $dropdown-divider-bg:               ;
// // $dropdown-color:                    ;
// $dropdown-link-hover-bg:         none;
// $dropdown-link-active-bg:           transparent;




@import '../../node_modules/bootstrap/scss/bootstrap.scss';



// @mixin mobile-styles($breakpoint, $props) {
//    @media (max-width: #{$breakpoint}px) {
//       @content;
//       #{$props} {
//          // Add the styles specific to this breakpoint
//          @content;
//       }
//    }
// }
