.fourth-sec-container{
    padding: 20px 100px;
}

.fourth-sec-img-and-texts-part{
    display: flex;
    justify-content: space-around;
    padding: 40px 30px;
    gap: 30px;
}

.fourth-sec-img-container{
    width: 50%;
}
.fourth-sec-img-container img{
    width: 90%;
}

.fourth-sec-info-part{
    width: 60%;
    
}

.fourthsec-para{
    margin: 25px 0;
    font-size: 23px;
}


.fourth-sec-info-part div{
    flex-direction: column;
    align-items: start;
}