.sec-sec-container{
    background-color: #f4f4fa;
    margin-top: 40px;
    padding: 50px;
    position: relative;
}

.sec-sec-img-and-texts-part{
    display: flex;
    justify-content: space-around;
    padding: 40px 30px;
}

.sec-sec-img-and-texts-part .info-part{
    width:50%;
    padding-left: 30px;
}
.sec-sec-img-and-texts-part .info-part span{
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 20px;
}

.sec-sec-img-and-texts-part .info-part h2{
    width: 80%;
    margin-bottom: 30px;
}

.sec-sec-img-and-texts-part .img-container{
    width: 40%;
    height: 100%;

}

.sec-sec-img-and-texts-part .img-container img{
    width: 80%;
    height: 100%;

}

.second-img{
    display: none;
}


@media(max-width: 1022px){
    .sec-sec-img-and-texts-part .info-part h2{
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
    .sec-sec-img-and-texts-part .img-container img{
        width: 60%;
        height: 100%;
    
    }

    .sec-sec-img-and-texts-part .img-container .second-img{
        display: inline-block;
        width: 150px;
        height: 150px;

    }

    .sec-img-style{
        display: flex;
        align-items: center;
    }
}


@media(max-width: 1021px){
    .sec-img-style{
        display: block;
    }
    .sec-sec-img-and-texts-part .img-container .second-img{
        display: none;
    }

    .sec-sec-img-and-texts-part .img-container img{
        width: 80%;
        height: 90%;
    
    }
}

@media(max-width: 767px){
    .sec-sec-container{
        padding: 10px;
        /* border: 2px solid red; */
    }
    .sec-sec-img-and-texts-part{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .sec-sec-img-and-texts-part .info-part{
        width: 100%;
       order: 2;
    }
    .sec-sec-img-and-texts-part .img-container{
        width: 80%;
        height: 50%;
        margin-bottom: 40px;
        margin-top: 30px;
    }
    .sec-sec-img-and-texts-part .img-container img{
        width: 100%;
        height: 400px;
    
    }
    .sec-sec-img-and-texts-part .info-part span{
        display: inline-block;
        width: 100%;
        text-align: center;
    }

}