.thirdsec-container{
    margin-top: 40px;
    padding: 50px 100px 0 100px;
}

.thirdsec-img-and-texts-part{
    display: flex;
    justify-content: space-around;
    padding: 40px 30px;
}

.thirdsec-img-and-texts-part span{
    font-weight: 700;
    font-size: 20px;
}

.thirdsec-info-part{
    width: 60%;
    
}
.thirdsec-para{
    margin: 25px 0;
    font-size: 23px;
}
.thirdsec-info-part h2:first-child{
    margin-top: 20px;
}


.thirdsec-img-container{
    width:40%;
}
.thirdsec-img-container img{
    width: 100%;
}

