.custom-btn {
   border: none;
   padding: 0px 24px;
   cursor: pointer;
   height: 48px;
   min-width: 120px;
   border-radius: 48px; 
   
   &.white-btn{ 
      background-color: #fff;
      color: #000;
      border: 1px solid black;
   
      &:hover{
         background-color: lightgrey;
      }
   }
   &.purple-btn{
      background-color: #523be4;
      color: white;
      text-align: center;
   
      &:hover{
         background-color: #654efa;
         cursor: pointer;
      }
   }

   &.no-border-btn {
      border: 0;
      background-color: #fff;
      color: #000;
      width: 130px;
   }
   
   // @media screen and (max-width: 1024px){
      
   //    .purple-btn{
         
   //    }
   // }
}




