.custom-btn {
   border: none;
   padding: 0px 24px;
   cursor: pointer;
   min-height: 48px;
   min-width: 120px;
   border-radius: 48px; 
   
   &.white-btn{ 
      background-color: #fff;
      color: #000;
      border: 1px solid black;
   
      &:hover{
         background-color: lightgrey;
      }
   }
   &.purple-btn{
      background-color: #523be4;
      color: white;
      text-align: center;
   
      &:hover{
         background-color: #654efa;
         cursor: pointer;
      }
   }

   &.no-border-btn {
      border: 0;
      background-color: #fff;
      color: #000;
      width: 130px;
   }
}





@media(max-width: 1024px){
   .purple-btn{
      font-size: 15px;
      padding: 17px 28px;
      width: 135px;
   }

}

@media(max-width: 510px){
   .purple-btn{
      font-size: 14px;
      padding: 15px 24px;
      width: 125px;
   }
}

@media(max-width: 1024px){
   .white-btn{
      font-size: 16px;
      padding: 17px 28px;
      width: 135px;
   }

}

@media(max-width: 510px){
   .white-btn{
      font-size: 14px;
      padding: 15px 24px;
      width: 125px;
   }
}